* {
    margin: 0;
    box-sizing: border-box;
   
}

#root{
    display: flex;
    justify-content: space-between;
}



.App {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    min-height: 100vh;
    background-image: url(../assets/936961960151f4513a6ffa6039883f72.jpg);
    background-attachment: fixed; 
    
    
}

