* {
    margin: 0;
    box-sizing: border-box;
   
}

#root{
    display: flex;
    justify-content: space-between;
}

.book
{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80vw;

    min-height: 90vh;
    background-image: url(../assets/exempl2.jpg);
    background-attachment: fixed; 
    border-radius: 10px; 
    margin-top: 10px;
    filter: brightness(88%);
    box-shadow: 0 0 20px 4px #ffffff;
    
}

.book .text
{
    color: white;
    width: 50vw;
    margin-right: 20vw;
    background-color: #000000;
    box-shadow: 0 0 10px 10px #000000;
}

.textAuthors
{
    font-family: 'Chenla';
    font-style: normal;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(255, 255, 255);  
    margin-right: 20vw;
    background-color: #3c3c3c;
    box-shadow: 0 0 10px 10px #3c3c3c;
    
    width: 50vw;
}

.book button
{
    margin-left: 77vw;
}

.book .thumbnail
{
    margin-right: 50vw;
    margin-bottom: 20px;
    margin-top: 20px;
}

.book img
{
    width: 15vw;
    height: 20vw;
}